{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
</br></br></br></br>
    <h1>Les services</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.title }}</td>
                <td>{{ service.content }}</td>
                <td>
                    <a href="{{ path('app_admin_service_show', {'id': service.id}) }}">Voir</a>
                    <a href="{{ path('app_admin_service_edit', {'id': service.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Rien trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_service_new') }}">Créer nouveau service</a>
    <a href="{{ path('admin_index') }}">Retour au menu</a>
{% endblock %}
