
{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
</br></br></br></br></br>
<h1>Nos Prestations de Services</h1>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Entretien</h5>
                <p class="card-text">Description de l'entretien.</p>
                <a href="{{ path('app_service_show', {'id': 1, 'type': 'entretien'}) }}" class="btn btn-primary">Voir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mécanique</h5>
                <p class="card-text">Description de la mécanique.</p>
                <a href="{{ path('app_service_show', {'id': 2, 'type': 'mecanique'}) }}" class="btn btn-primary">Voir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Carrosserie</h5>
                <p class="card-text">Description de la carrosserie.</p>
                <a href="{{ path('app_service_show', {'id': 3, 'type': 'carrosserie'}) }}" class="btn btn-primary">Voir</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ventes de voitures</h5>
                <p class="card-text">Description des ventes de voitures.</p>
                <a href="{{ path('app_cars') }}" class="btn btn-primary">Voir</a>
            </div>
        </div>
    </div>
</div>

{{ include ('footer.html.twig') }}
{% endblock %}
