</br>
</br>
</br>
</br>
</br>
    {% block title %}{% endblock %}

{% block body %}
<div class="container">
    <h1>Annonces de ventes de voitures</h1></br>
    
    <div class="row">
        {% for car in cars %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ asset('assets/voitures/' ~ car.id ~ '.jpeg') }}" class="card-img-top car-image" alt="{{ car.Brand }}">
                <div class="card-body">
                    <h5 class="card-title">{{ car.Brand }}</h5>
                    <p class="card-text">{{ car.price }} €</p>
                    <p class="card-text">{{ car.km }} km</p>
                    <p class="card-text">{{ car.year|date('Y') }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}





